<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <h1 class="register-form-title">Register</h1>
      <mat-form-field appearance="fill" class="register-form-field">
        <input matInput type="email" placeholder="Email" formControlName="email" required class="register-input-font">
        <mat-error *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)" class="register-error">
            <div *ngIf="formControls['email'].errors?.['required']">Email is required</div>
          <div *ngIf="formControls['email'].errors?.['email']">Invalid email format</div>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="register-form-field">
        <input matInput type="password" placeholder="Password" formControlName="password" required class="register-input-font">
        <mat-error *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)" class="error">
          <div *ngIf="formControls['password'].errors?.['required']">Password is required</div>
        </mat-error>
    </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required class="register-input-font">
        <mat-error *ngIf="formControls['confirmPassword'].invalid && (formControls['confirmPassword'].dirty || formControls['confirmPassword'].touched)" class="register-error">
          <div *ngIf="formControls['confirmPassword'].errors?.['required']">Confirm Password is required</div>
        </mat-error>
        <mat-error *ngIf="formControls['confirmPassword'].value !== formControls['password'].value" class="register-error">
          Confirm Password does not match Password
        </mat-error>
    </mat-form-field>
      
      <button mat-raised-button type="submit" [disabled]="registerForm.invalid || formControls['password'].value !== formControls['confirmPassword'].value" class="register-button-form">Register</button>
    <div class="register-redirect-link">
        If you have an account? <a routerLink="/login">Login here</a>
    </div>
    </form>
  </div>
  